body {
  background: #333333 !important;
  color: #ffffff !important;
  margin-top: 5rem;
}

#pageIndex{
display:inline-block;
align-item:center;
justify-content:center;
margin:auto;
}
}
.btn-success {
    color: #fff;
    background-color: #5f788a;
    /* border-color: #28a745; */
}
#nav{
    align-item:center;
}
#poplist{
    max-width: 100%;
     background-color:#5f788a;/* Max Width of the popover (depending on the container!) */
}
._8-yf5 {
    display: block;
    position: relative;
    background-color:#5f788a;
}
svg[Attributes Style] {
    fill: rgb(38, 38, 38);
    height: 22;
    width: 22;
}
svg:not(:root) {
    overflow: hidden;
}
h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 100%;
  width: 100%;
  margin-right: 20px;
  margin-bottom: 16px;
}
a:active{
color:blue;
}
.account-heading {
  font-size: 2.5rem;
}
#link{
    text-decoration:none;
    background-color:green;

}